
/*
Dusty Pink: #d7b5b5
Complementary color: #527b7b (a teal color)
Light Blue: #add8e6
Complementary color: #5b5e5b (a dark green color)
Sage Green: #9db78d
Complementary color: #625b93 (a deep purple color)
*/
/* semantic variables for this project */
:root {
  --primary-color: #f294b2;
  --secondary-color: #527b7b;
  --complementary-color: #1cdeca;
  --color-background: #27241D;
  --color-background-soft: #423d33;
  --color-background-mute: #504a40;

  --color-border: rgba(84, 84, 84, 0.65);
  --color-border-hover: rgba(84, 84, 84, 0.48);

  --color-heading: #ffffff;
  --color-text: rgba(235, 235, 235, 0.64);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
